body{
    margin: 0px;
    padding: 0;
    width: 90%;
}
.pri{
    width: 40px;
    height: 150%;
    background-color: rgb(45, 62, 111);
    color: gray;
    padding: 15px 15px 0px 20px;
    font-size: 20px;
    position: fixed;
}
.head{
    color: white;
}
.top{
    color: rgb(255,255,255);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    margin-left: 1px;
}
.fa-address-book{
    color: rgb(255,255,255);
}
.icons{
    color: gray;
    padding: 10px;
    background-color: rgb(25,35,59);
}
.bar1{
    background-color: rgb(209, 199, 199);
    height: 50px;
    width: 100%;
    margin-left: 95px;
}
.head1{
    background-color: rgb(241, 241, 248);
    width: 110%;
    height: 50px;
    padding: 10px;
}
.top1{
    margin-left: 100px;
    margin-top: 5px;
    padding: 7px;
}
.pop{
    margin-top: 2px;
}
.pot{
    margin-top: 2px;
}
.doc1{
    display: grid;
    grid-template-columns: 18% 53% 25%;
}
h3{
    font-size: 20px;
    font-weight: 100;
}
h5{
    font-size: 12px;
    color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.col1{
    margin-left: 80px;
    padding-bottom: 30px;
    border-right: 1px solid rgb(216, 157, 157);
    height: 900px;
    width: 105px;
    margin-top: 20px;
    font-size: 15px;
    padding: 20px;
}
.col2{
    margin-top: 35px;
    margin-left:20px;
    border-right: 1px solid rgb(216, 157, 157);
    width: 725px;
}
#color{
    color: red;
    font-size: 8px;
    text-align: center;
}
h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    width: 600px;
    height: 25px;
    border: 1px solid beige;
    background-color: rgb(245,247,251);
}
.label1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.input1{
    width: 240px;
    height: 25px;
    border: 1px solid beige;
    border-radius: 5px;
    background-color: rgb(245,247,251);
}
.input3{
    width: 700px;
    height: 25px;
}
.input5{
    width: 600px;
    height: 25px;
    border: 1px solid beige;
    border-radius: 5px;
    background-color: rgb(245,247,251);
}
.label2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.label3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.label4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.last{
    margin-left: 30px;
    margin-top: 30px;
}

.table{
    background-color:rgb(241,241,248);
    border-radius:5px;
    margin-bottom: 20px;
    width:250px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid #babfc2;
   
}
.group{
    font-weight: bold;
    width:125px;
    height:26px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.single{
    font-weight: bold;
    width:125px;
    height:26px;
    border: none;
    border-radius:5px;
    background-color:  rgb(241,241,248);
    font-family: Arial, Helvetica, sans-serif;
}
.search{
    margin-top: -5px;
    border: 1px solid rgb(206, 213, 213);
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.082);
    width: 330px;
    font-size: 14px;
    padding: 8px 0px 8px 8px;
}

.navbarright{
    display: flex;
    justify-content: space-between;
}
.dem{
    display: flex;
    gap: 10px;
    padding-top: 11px;
    padding-right: 60px;
    font-size: 17px;
}
.box1{
    margin-top: 20px;
    font-size: 15px;
    padding: 17px;
    width: 300px;
    border: 1px solid #babfc2;
    color: #babfc2;
    border-radius: 5px;
    height: 60px;
}
.box1 .fa-user{
    font-size: 25px;
    padding-left: 20px;
}

td {
    padding-top: 2px;
    line-height: 1.2;
    text-align: left;
}

th{
    text-align: left;
}
.box2{
    margin-top: 20px;
    font-size: 15px;
    padding: 17px;
    width: 300px;
    border: 1px solid #babfc2;
    color: #babfc2;
    border-radius: 5px;
    height: 60px;
}
.box2 .fa-house{
    font-size:25px;
    padding-left: 20px;
}
.box3{
    margin-top: 20px;
    font-size: 15px;
    padding: 17px;
    width: 300px;
    gap: 20px;
    border: 1px solid #babfc2;
    color: black;
    border-radius: 5px;
    height: 60px;
}
.box3 .fa-building{
    font-size:25px;
    padding-left: 20px;
    color: yellow;
}
.box4{
    margin-top: 20px;
    font-size: 15px;
    padding: 17px;
    width: 300px;
    gap: 20px;
    border: 1px solid #babfc2;
    color: black;
    border-radius: 5px;
    height: 60px;
}
.box4 .fa-group-arrows-rotate{
    font-size:25px;
    padding-left: 20px;
    color: pink;
}
.box5{
    margin-top: 20px;
    font-size: 15px;
    padding: 20px;
    width: 300px;
    gap: 20px;
    border: 1px solid #babfc2;
    color: #babfc2;
    border-radius: 5px;
    height: 75px;
}
.box5 .fa-lock{
    font-size:25px;
    padding-left: 20px;
}
